:root{
    --mymargin: 300px;
    --mymargin2: 24px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d1d1eb;
    color: #f0f0f0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    font-size: 18px;
}

nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 3px; /* Position the navbar at the top of the page */
    left: 1%;
    right: 1%;
}

h1 {
    color: rgb(240, 240, 240);
    font-size: 48px;
    text-align: center;
    letter-spacing: 1px;
    padding: 13px 0 0 0;
}

h2 {
    color: #f0f0f0;
    font-size: 24px;
    letter-spacing: 1px;
    text-decoration: underline;
}

h3 {
    color: black;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: left;
}

h4 {
    color: black;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 0;
    padding-top: 45px;
}

h5 {
    color: black;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
}

.p0 {
    text-align: center;
    color: black;
    max-width: 700px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: left;
    margin-bottom: 0px;
    font-size: 18px;
}

.p1 {
    text-align: center;
    padding: 0 20px 0 20px;
    font-size: 18px;
}

.p2 {
    text-align: center;
    max-width: 700px;
    padding: 0 5% 13px 0;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-align: left;
    font-size: 18px;
    margin-top: 0px;
}

ol {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

/*Tabs at top*/
button {
    background-color: #9acae0;
    border: 1px solid #8ab9cf;
    color: black;
    padding: 10px 13px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0a485f;
    text-decoration: underline;
}

/*Blue band across screen*/
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: -8px;
    margin-bottom: 50px;
    margin-top: 47px;
    width: 104%;
    height: 240%;
    background-color: #0a485f;
}

.container-alert {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: -8px;
    margin-bottom: 50px;
    width: 104%;
    height: 240%;
    background-color: yellow;
    color: black;
}

/*Reason boxes set columns*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max(25%, 200px)));
    gap: 10px;
    margin: auto;
    max-width: 1500px;
    place-content: center;
} 

/*Reason boxes*/
.grid-child {
    background-color: #0a485f;
    padding: 20px 0 20px 0;
    border-radius: 20px; /*rouned corners*/
}

/*Sections*/
.flex-sec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 55px;
} 

.flex-sec-cont {
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    max-width: 750px; /*delete this line?*/
}

/* used for quotes */
.quotes {
    background-color: #9acae0;
    border: 1px solid #8ab9cf;
    border-radius: 6px;
    font-style: italic;
    font-size: 18px;
    padding: 15px;
}

/*References section*/
.myRef {
    background-color: #f0f0f0;
    border: 1px solid #e9e8e8;
    margin: 100px auto;
    padding: 7px 5px 7px 5px;
    color: black;
    text-align: left;
    max-width: 1150px;
}

.imgstyle-r img {
    max-width: 425px;
    height: auto;
    width: 90vw;
    border-radius: 15px;
    box-shadow: 8px 8px 8px #888888;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 45px;
}

.imgstyle-l img {
    max-width: 425px;
    height: auto;
    width: 90vw;
    border-radius: 15px;
    box-shadow: 8px 8px 8px #888888;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 45px;
}

.imgstyle1 img {
    max-width: 425px;
    height: auto;
    width: 90vw;
    border-radius: 15px;
    box-shadow: 8px 8px 8px #888888;
    margin-top: 45px;
}

.foia-agency {
    color: black;
    /*overflow-wrap: break-word;*/
    background-color: #9acae0;
    border: 1px solid #8ab9cf;
    border-radius: 6px;
    max-width: 700px;
    height: auto;
    margin: auto;
}

.lmsection {
    color: black;
    max-width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 0 10px 0 10px;
}

.back2top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}